* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

:root {
    --mb: #4285F4;
    --mbl: #1E1E1E;
}

body {
    background-color: var(--mbl);
    color: #eee;
    -webkit-tap-highlight-color: transparent;
}

button,
a {
    cursor: pointer;
}

::backdrop{
    background-color: black;
    opacity: 0.6;
}