.wrapper {
    height: calc(100dvh - 110px);
    padding-top: 5px;
}

.container {
    height: 100%;
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1200px;
}

.sec1 {
    height: 150px;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    flex: 1;
}

.sec2 h1 {
    font-size: 50px;
    color: var(--mb);
}

.sec2 h3 {
    margin: 10px 0 7px 0;
    line-height: 1.5;
    width: 95%;
}

.intro {
    line-height: 1.5;
    color: #bbb;
    width: 95%;
    font-size: 18px;
}

.sec2 a {
    text-decoration: none;
}

.chat {
    margin-top: 20px;
    background-color: var(--mb);
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 12px 12px 15px;
    border-radius: 10px 20px 20px 10px;
    font-weight: 600;
    color: #eee;
    max-width: 200px;
}

@media only screen and (min-width: 700px) {
    .sec2 h1 {
        font-size: 60px;
        color: var(--mb);
    }
}

@media only screen and (min-width: 900px) {
    .container {
        flex-direction: row-reverse;
        align-items: center;
        gap: 5px;
    }

    .sec1 {
        height: 450px;
        border-radius: 40px;
    }

    .sec2 {
        flex: 1;
    }

    .sec2 h1 {
        font-size: 70px;
    }

    .sec2 h3 {
        font-size: 20px;
        width: 90%;
        margin: 12px 0 15px 0;
    }

    .intro {
        font-size: 20px;
        width: 85%;
    }

    .chat {
        margin-top: 25px;
    }
}

@media only screen and (min-width: 1100px) {
    .sec2 h1 {
        font-size: 90px;
    }
}