.btn{
    margin-top: 20px;
    background-color:var(--mb);
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 12px 12px 15px;
    border-radius: 10px 20px 20px 10px;
    color: #eee;
    border: none;
    font-size: 16px;
    max-width: 200px;
}